<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--글꼴 Link-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/commu.css">

    <!-- JavaScript -->
    <script src="/javascript/index.js"></script>
    <!-- 반응형 웹 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Title-->
    <title> CAN </title>

</head>

<body>

<!-- header -->
<%- include('partials/header')%>

    <section id="section">
        <div id="first">
            <img src="/img/cmLogo.png">
        </div>
        <div id="buttonSection">
            <form action="/community/insert" method="GET">
                <button type="submit">글쓰기</button>
            </form>
        </div>
        <div id="second">
            <div id="type09" class="effect8">
                <table class="type09">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>글쓴이</th>
                            <th>날짜</th>
                            <th>조회수</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% data.sort((a, b) => new Date(b.post_created_at) - new Date(a.post_created_at)).forEach(function(post) { %>
                            <tr>
                                <td>
                                    <%= post.post_num %>
                                </td>
                                <td><a href="/community/show/<%= post.post_num %>">
                                        <%= post.post_title %>
                                    </a></td>
                                <td>
                                    <%= post.post_usernum %>
                                </td>
                                <td>
                                    <%= post.formattedCreatedAt %>
                                </td>
                                <td>
                                    <%= post.post_hit %>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="third">
            <a> 1 </a>
        </div>
    </section>

    <!-- footer -->
<%- include('partials/footer')%>

</body>


</html>
