<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--글꼴 Link-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" media="(min-width: 900px)" type="text/css" href="/css/boardInsert.css">
    <link rel="stylesheet" media="(max-width: 900px)" href="/css/boardInsert_m.css">

    <!-- JavaScript -->
    <script src="/javascript/index.js"></script>
    <!-- 반응형 웹 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Title-->
  <title> CAN </title>

</head>

<body>
<!-- header -->
<%- include('partials/header')%>
    <!-- Section -->
<section id="section">
    <div id="layout">
        <div id="sectionTitle">
            <h1> 글 수정 </h1>
        </div>

        <form id="form" action="" method="post" enctype="multipart/form-data">
            <div id="titleForm" class="form">
                <h4> 제목 </h4>
                <input type="text" name="post_title" id="post_title" placeholder="제목을 입력해 주세요"
                    value="<%= data.post_title %>" class="form-control" required>
            </div>

            <div class="form">
                <h4> 첨부파일 </h4>
                <input type="file" name="post_image" id="post_image" class="form-control" accept="image/*" style="font-size: 1em;">
                <% if (data.post_image) { %>
                    <img id="imagePreview" src="<%= data.post_image %>" alt="Image Preview" style="max-width: 200px;">
                <% } %>
            </div>

            <div id="contentForm" class="form">
                <h4> 내용 </h4>
                <textarea name="post_content" id="post_content" class="form-control" rows="5"
                    required><%= data.post_content %></textarea>
            </div>
            <br>
            <div style="display: flex; justify-content: flex-end; ">

                <div class="btn">
                    <input type="button" data-action="edit" value="수정하기" style="cursor: pointer" class="custom-btn btn-16" onclick="submitForm('edit')">
                </div>
                <div class="btn">
                    <input type="button" data-action="delete" value="삭제하기" style="cursor: pointer" class="custom-btn btn-16" onclick="submitForm('delete')">
                </div>
            </div>

            <!-- 액션 타입을 전달할 input 태그 추가 -->
            <input type="hidden" name="actionType" id="actionType" value="">
        </form>

    </div>
</section>

<script>
    function submitForm(actionType) {
        const form = document.getElementById("form");
        const actionTypeField = document.getElementById("actionType");

        if (actionType === "edit") {
            form.setAttribute("method", "post");
            form.action = "/community/edit/<%= data.post_num %>";
        } else if (actionType === "delete") {
            form.setAttribute("method", "get");
            form.action = "/community/delete/<%= data.post_num %>";
        }

        // 액션타입 값을 히든 필드에 설정
        actionTypeField.value = actionType;

        // 폼 제출
        form.submit();
    }

    document.getElementById('post_image').addEventListener('change', function(event) {
    const reader = new FileReader();
    reader.onload = function() {
        const output = document.getElementById('imagePreview');
        output.src = reader.result;
    };
    reader.readAsDataURL(event.target.files[0]);
});
</script>

<!-- footer -->
<%- include('partials/footer')%>
</body>


</html>
