<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        function checkNicknameAvailability() {
            var nickname = document.getElementById('nickname').value;
            var availabilitySpan = document.getElementById('nicknameAvailability');

            fetch('/auth/check_nickname_availability', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ nickname: nickname })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.available) {
                        availabilitySpan.textContent = '사용 가능한 닉네임입니다.';
                        availabilitySpan.style.color = 'green';
                        availabilitySpan.style.fontSize = '0.9em';
                    } else {
                        availabilitySpan.textContent = '이미 사용 중인 닉네임입니다.';
                        availabilitySpan.style.color = 'red';
                        availabilitySpan.style.fontSize = '0.9em';
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
        function checkEmailAvailability() {
            var email = document.getElementById('editEmail').value;
            var availabilitySpan = document.getElementById('emailAvailability');

            fetch('/auth/check_email_availability', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email: email })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.available) {
                        availabilitySpan.textContent = '사용 가능한 이메일입니다.';
                        availabilitySpan.style.color = 'green';
                        availabilitySpan.style.fontSize = '0.9em';
                    } else {
                        availabilitySpan.textContent = '이미 등록된 이메일입니다.';
                        availabilitySpan.style.color = 'red';
                        availabilitySpan.style.fontSize = '0.9em';
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function checkPasswordMatch() {
            var password = document.getElementById('password').value;
            var confirmPassword = document.getElementById('confirmPassword').value;
            var matchSpan = document.getElementById('passwordMatch');
            if (password === confirmPassword) {
                matchSpan.textContent = '비밀번호가 일치합니다.';
                matchSpan.style.color = 'green';
                matchSpan.style.fontSize = '0.9em';
                matchSpan.style.marginLeft = '5px';
            } else {
                matchSpan.textContent = '비밀번호가 일치하지 않습니다.';
                matchSpan.style.color = 'red';
                matchSpan.style.fontSize = '0.9em';
                matchSpan.style.marginLeft = '5px';
            }
        }

        function sendVerificationCode() {
            var email = document.getElementById('email').value;
            var verificationCodeForm = document.getElementById('verificationCodeForm');

            var verificationCodeExpiration = 5 * 60; // 인증번호 만료 시간 (5분)
            // 인증번호 만료 시간 설정
            var expirationTime = new Date().getTime() + verificationCodeExpiration * 1000;
            localStorage.setItem('verificationCodeExpiration', expirationTime);

            // 인증 번호 생성 (6자리 숫자)
            var verificationCode = Math.floor(100000 + Math.random() * 900000);

            // 이메일로 인증 번호 전송
            fetch('/auth/password_verification_email', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email: email, code: verificationCode })
            })
                .then(response => {
                    if (response.ok) {
                        verificationCodeForm.style.display = 'block'; // 인증 번호 입력 폼 표시
                        // 인증 번호 입력 칸 밑에 시간 카운트다운 엘리먼트 추가
                        updateCountdown(); // 카운트다운 시작
                    } else {
                        alert('이메일이 일치하지 않습니다.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function updateCountdown() {
            var expirationTime = localStorage.getItem('verificationCodeExpiration');
            if (!expirationTime) return;

            var countdownElement = document.getElementById('countdown');

            // 남은 시간 계산
            var now = new Date().getTime();
            var remainingSeconds = Math.max(0, Math.floor((expirationTime - now) / 1000));

            // 분과 초로 변환하여 표시
            var minutes = Math.floor(remainingSeconds / 60);
            var seconds = remainingSeconds % 60;
            countdownElement.textContent = minutes + '분 ' + seconds + '초';

            if (remainingSeconds === 0) {
                // 시간이 만료되면 인증번호 입력 폼 숨기기
                document.getElementById('verificationCodeForm').style.display = 'none';
                localStorage.removeItem('verificationCodeExpiration');
            } else {
                // 1초마다 업데이트
                setTimeout(updateCountdown, 1000);
            }
        }

        function verifyCode() {
            var enteredCode = document.getElementById('verificationCode').value;
            var verificationStatus = document.getElementById('verificationStatus');

            // 입력된 인증 번호와 생성된 인증 번호 비교
            fetch('/auth/verify_code', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ code: enteredCode })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.valid) {
                        verificationStatus.textContent = '인증되었습니다.';
                        verificationStatus.style.color = 'green';
                    } else {
                        verificationStatus.textContent = '인증번호가 잘못되었습니다.';
                        verificationStatus.style.color = 'red';
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function validateForm() {
            var emailAvailability = document.getElementById('emailAvailability').textContent;
            var nicknameAvailability = document.getElementById('nicknameAvailability').textContent;

            if (nicknameAvailability !== '사용 가능한 닉네임입니다.') {
                alert('닉네임 중복확인을 해주세요.');
                return false;
            } else if (emailAvailability !== '사용 가능한 이메일입니다.') {
                alert('이미 등록된 이메일입니다.');
                return false;
            }else {
                return true;
            }
        }
        function emailValidateForm() {
            var verificationStatus = document.getElementById('verificationStatus').textContent;

            if (verificationStatus !== '인증되었습니다.') {
                alert('이메일 인증을 완료해주세요.');
                return false;
            } else {
                return true;
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            // 세션 초기화 코드를 이곳에 배치합니다.
            document.getElementById('verificationCodeForm').style.display = 'none';
            document.getElementById('verificationCode').value = '';
            document.getElementById('verificationStatus').textContent = '';
        });
    </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--글꼴 Link-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/css/editMyProfile.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">


    <!-- 반응형 웹 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Title-->

    <!--Title-->
    <title> CAN </title>

</head>

<body>
    <div id="header">
        <div class="logo">
            <img src="/img/LOGO.png" style="cursor: pointer;">
        </div>
    </div>

    <!-- Section -->
    <section id="section">
        <div id="layout">
            <div id="first">
                <div class="tab_menu">
                    <!-- 일반 회원일때만 비밀번호 변경 가능하도록 + 일반 회원은 탈퇴 시 비밀번호 입력 필수 -->
                    <% if(myProfile.mem_provider == 'local') { %>
                        <ul class="tab_list">
                            <li class="is_on">
                                <a href="#tab_content_1" class="btn btnFade btnGray">개인정보</a>
                            </li>
                            <li>
                                <a href="#tab_content_2" class="btn btnFade btnGray">비밀번호 변경</a>
                            </li>
                            <li>
                                <a href="#tab_content_3" class="btn btnFade btnGray">프로필 수정</a>
                                <!-- 프로필 이미지 업로드 필드 추가 -->
                            </li>
                            <li>
                                <a href="#tab_content_4" class="btn btnFade btnGray">회원 탈퇴</a>
                            </li>
                        </ul>
                        <div class="clear"></div>

                        <div class="cont_area">
                            <div id="tab_content_1" class="cont">
                                <form action="/auth/editMyInfo" method="post" onsubmit="return validateForm();">
                                    <div class="divBorder">
                                        <div class="myInfo">
                                            <h4> Id </h4>
                                            <p><%= myProfile.mem_id%></p>
                                            <input type="text" name="id" value="<%= myProfile.mem_id %>" readonly style="display: none">
                                       </div>
                                    </div>
                                    <div class="divBorder">
                                        <div class="myInfo">
                                            <h4> Name </h4>
                                            <p><%= myProfile.mem_name%></p>
                                        </div>
                                    </div>
                                    <div class="divBorder">
                                        <div class="myInfo">
                                            <h4> Nickname </h4>
                                            <input type="text" id="nickname" name="nickname" value="<%= myProfile.mem_nickname%>" required>
                                        </div>
                                        <div id="nickForm">
                                            <span id="nicknameAvailability"></span>
                                            <button type="button" onclick="checkNicknameAvailability()"> 중복 확인 </button>
                                        </div>
                                    </div>
                                    <div class="divBorder">
                                        <div class="myInfo">
                                            <h4> E-mail </h4>
                                            <input type="text" id="editEmail" name="email" value="<%= myProfile.mem_email%>" required>
                                        </div>
                                        <div id="emailForm">
                                            <span id="emailAvailability"></span>
                                            <button type="button" onclick="checkEmailAvailability()"> 중복 확인 </button>
                                        </div>
                                    </div>
                                    <div class="divBorder">
                                        <div class="myInfo">
                                            <h4> Phone </h4>
                                            <input type="text" name="phone" value="<%= myProfile.mem_phone%>" required>
                                        </div>
                                    </div>
                                    <div class="btn_div">
                                        <button type="submit" class="submit btnFade btnGray"> 수정 </button>
                                        <button class="cancel cancle_Fade" onclick="window.close()"> 취소 </button>
                                    </div>
                                </form>
                            </div>

                            <div id="tab_content_2" class="cont">
                                <form action="/auth/editMyPassword" method="post" onsubmit="return emailValidateForm();">
                                    <input type="text" name="id" value="<%= myProfile.mem_id %>" readonly style="display: none">
                                    <div class="divPassword">
                                        <div class="inputBox">
                                            <h4> New Password </h4>
                                            <input type="password" name="pwd" id="password" required>
                                        </div>
                                    </div>
                                    <div class="divPassword">
                                        <div class="inputBox" >
                                            <h4> Confirm Password </h4>
                                            <input type="password" name="pwd2" id="confirmPassword" required oninput="checkPasswordMatch()">
                                            <div id="passwordMatch"></div>
                                        </div>
                                    </div>
                                    <div class="divPassword">
                                        <div class="inputBox" id="divemail">
                                            <h4> E-mail </h4>
                                            <input type="email" name="email" id="email" required>
                                            <button type="button" onclick="sendVerificationCode()"> 인증 </button>
                                        </div>
                                    </div>
                                    <div id="verificationCodeForm" class="divPassword" style="display: none">
                                        <div class="inputBox">
                                            <h4> 인증번호 확인 </h4>
                                            <input type="text" placeholder="인증번호 입력" id="verificationCode">
                                            <button type="button" onclick="verifyCode()"> 확인 </button>
                                        </div>
                                        <div id="countForm"> 인증번호 유효 시간: <span id="countdown">5분 0초</span> </div>
                                        <div id="verificationStatus"> </div> <!-- 유효하지 않습니다. -->
                                    </div>
                                    <div class="btn_div">
                                        <button type="submit" class="submit btnFade btnGray"> 수정 </button>
                                        <button class="cancel cancle_Fade" onclick="window.close()"> 취소 </button>
                                    </div>
                                </form>
                            </div>

                            <div id="tab_content_3" class="cont">
                                <form action="/img/uploadImage" method="post" enctype="multipart/form-data">
                                    <div class="myProfile">
                                        <h4>프로필 이미지</h4>
                                        <img id="profileImagePreview" src="<%= myProfile.mem_profile %>" alt="프로필 이미지" width="200" height="200">
                                        <input type="file" id="profileImageInput" accept="image/*" name="image">
                                    </div>
                                    <script>
                                        // 파일 선택(input) 요소에 대한 이벤트 핸들러 설정
                                        document.getElementById('profileImageInput').addEventListener('change', function () {
                                            // 선택한 파일 가져오기
                                            const selectedFile = this.files[0];

                                            // 이미지 파일인지 확인
                                            if (selectedFile && selectedFile.type.startsWith('image/')) {
                                                const reader = new FileReader();

                                                reader.onload = function (e) {
                                                    // 이미지를 미리보기 이미지에 표시
                                                    document.getElementById('profileImagePreview').src = e.target.result;
                                                };

                                                // 이미지 파일을 읽기
                                                reader.readAsDataURL(selectedFile);
                                            }
                                        });
                                    </script>

                                    <div class="btn_div">
                                        <button type="submit" class="submit btnFade btnGray"> 수정 </button>
                                        <button class="cancel cancle_Fade" onclick="window.close()"> 취소 </button>
                                        <!-- 이미지 삭제 버튼을 추가한 HTML -->
                                        <button type="button" id="deleteProfileImage" class="submit btnFade btnGray"> 삭제 </button>

                                    </div>

                                    <script>
                                        // 삭제 버튼 클릭 이벤트 핸들러
                                        document.getElementById('deleteProfileImage').addEventListener('click', function () {
                                            const confirmDelete = confirm('프로필 이미지를 삭제하시겠습니까?');

                                            if (confirmDelete) {
                                                // 서버로 삭제 요청을 보내는 코드 작성
                                                fetch('/img/deleteProfileImage', {
                                                    method: 'DELETE',
                                                    headers: {
                                                        'Content-Type': 'application/json'
                                                    },
                                                    body: JSON.stringify({}),
                                                })
                                                    .then(response => response.json()) // 응답 데이터를 JSON 형식으로 파싱
                                                    .then(data => {
                                                        if (data.message === '프로필 이미지가 삭제되었습니다.') {
                                                            // 이미지 삭제에 성공한 경우
                                                            document.getElementById('profileImagePreview').src = 'public/img/profile_default.jpg'; // 기본 프로필 이미지로 변경
                                                            alert('삭제되었습니다. 프로필 업데이트에는 약 1분이 소요됩니다^^');
                                                            opener.parent.location.reload();
                                                            window.close();
                                                        } else {
                                                            // 이미지 삭제에 실패한 경우
                                                            alert('프로필 이미지 삭제에 실패했습니다.');
                                                        }
                                                    })
                                                    .catch(error => {
                                                        console.error('Error:', error);
                                                        alert('프로필 이미지 삭제에 실패했습니다.');
                                                    });
                                            }
                                        });
                                    </script>

                                </form>
                            </div>

                            <div id="tab_content_4" class="cont">
                                <form action="/auth/withdrawal" method="post" onsubmit="return confirm('정말로 탈퇴하시겠습니까?');">
                                    <div class="divBorder">
                                        <div class="inputBox" id="withdrawInputBox">
                                            <h4> Id </h4>
                                            <p><%= myProfile.mem_id%></p>
                                            <input type="text" name="id" value="<%= myProfile.mem_id %>" readonly style="display: none">
                                        </div>
                                    </div>
                                    <div class="divBorder">
                                        <div class="inputBox" id="withdrawInputBox">
                                            <h4>Password </h4>
                                            <input type="password" name="pwd" id="password" required>
                                        </div>
                                    </div>
                                    <div class="btn_div">
                                        <button type="submit" class="submit btnFade btnGray"> 회원 탈퇴 </button>
                                        <button class="cancel cancle_Fade" onclick="window.close()"> 취소 </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
                    <!-- 소셜 회원은 비밀번호 변경 없음 + 탈퇴 시 입력사항 없음 -->
                    <% } else { %>
                            <ul class="tab_list">
                                <li class="is_on">
                                    <a href="#tab_content_1" class="btn btnFade btnGray">개인정보</a>
                                </li>
                                <li>
                                    <a href="#tab_content_2" class="btn btnFade btnGray">프로필 수정</a>
                                </li>
                                <li>
                                    <a href="#tab_content_3" class="btn btnFade btnGray">회원 탈퇴</a>
                                </li>
                            </ul>

                            <div class="cont_area">
                                <div id="tab_content_1" class="cont">
                                    <form action="/auth/editMyInfo" method="post" onsubmit="return validateForm();">
                                        <!-- 프로필 이미지 업로드 필드 추가 -->

                                        <div class="divBorder">
                                            <div class="myInfo">
                                                <h4> Id </h4>
                                                <p><%= myProfile.mem_id%></p>
                                                <input type="text" name="id" value="<%= myProfile.mem_id %>" readonly style="display: none">
                                            </div>
                                        </div>
                                        <div class="divBorder">
                                            <div class="myInfo">
                                                <h4> Name </h4>
                                                <p><%= myProfile.mem_name%></p>
                                            </div>
                                        </div>
                                        <div class="divBorder">
                                            <div class="myInfo">
                                                <h4> Nickname </h4>
                                                <input type="text" id="nickname" name="nickname" value="<%= myProfile.mem_nickname%>" required>
                                            </div>
                                            <div id="nickForm">
                                                <span id="nicknameAvailability"></span>
                                                <button type="button" onclick="checkNicknameAvailability()"> 중복 확인 </button>
                                            </div>
                                        </div>
                                        <div class="divBorder">
                                            <div class="myInfo">
                                                <h4> E-mail </h4>
                                                <input type="text" id="editEmail" name="email" value="<%= myProfile.mem_email%>" required>
                                            </div>
                                            <div id="emailForm">
                                                <span id="emailAvailability"></span>
                                                <button type="button" onclick="checkEmailAvailability()"> 중복 확인 </button>
                                            </div>
                                        </div>
                                        <div class="divBorder">
                                            <div class="myInfo">
                                                <h4> Phone </h4>
                                                <input type="text" name="phone" value="<%= myProfile.mem_phone%>" required>
                                            </div>
                                        </div>
                                        <div class="btn_div">
                                            <button type="submit" class="submit btnFade btnGray"> 수정 </button>
                                            <button class="cancel cancle_Fade" onclick="window.close()"> 취소 </button>
                                        </div>
                                    </form>
                                </div>

                                <div id="tab_content_2" class="cont">
                                    <form action="/img/uploadImage" method="post" enctype="multipart/form-data">
                                        <div class="myProfile">
                                            <h4>프로필 이미지</h4>
                                            <img id="profileImagePreview" src="https://prisonvreak.s3.ap-northeast-2.amazonaws.com/profile/<%= myProfile.mem_id %>.jpg" alt="프로필 이미지" width="200" height="200">
                                            <input type="file" id="profileImageInput" accept="image/*" name="image">
                                        </div>
                                        <script>
                                            // 파일 선택(input) 요소에 대한 이벤트 핸들러 설정
                                            document.getElementById('profileImageInput').addEventListener('change', function () {
                                                // 선택한 파일 가져오기
                                                const selectedFile = this.files[0];

                                                // 이미지 파일인지 확인
                                                if (selectedFile && selectedFile.type.startsWith('image/')) {
                                                    const reader = new FileReader();

                                                    reader.onload = function (e) {
                                                        // 이미지를 미리보기 이미지에 표시
                                                        document.getElementById('profileImagePreview').src = e.target.result;
                                                    };

                                                    // 이미지 파일을 읽기
                                                    reader.readAsDataURL(selectedFile);
                                                }
                                            });
                                        </script>

                                        <div class="btn_div">
                                            <button type="submit" class="submit btnFade btnGray"> 수정 </button>
                                            <button class="cancel cancle_Fade" onclick="window.close()"> 취소 </button>
                                        </div>
                                    </form>
                                </div>

                                <div id="tab_content_3" class="cont">
                                    <form action="/auth/socialWithdrawal" method="post" onsubmit="return confirm('정말로 탈퇴하시겠습니까?');">
                                        <div class="divBorder">
                                            <div class="inputBox" id="withdrawInputBox">
                                                <h4> Id </h4>
                                                <p><%= myProfile.mem_id%></p>
                                                <input type="text" name="id" value="<%= myProfile.mem_id %>" readonly style="display: none">
                                            </div>
                                        </div>
                                        <div class="btn_div">
                                            <button type="submit" class="submit btnFade btnGray"> 회원 탈퇴 </button>
                                            <button class="cancel cancle_Fade" onclick="window.close()"> 취소 </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
</body>
<script>
    const tabList = document.querySelectorAll('.tab_menu .tab_list li');
    const contents = document.querySelectorAll('.tab_menu .cont_area .cont')
    let activeCont = ''; // 현재 활성화 된 컨텐츠 (기본:#tab1 활성화)

    for(var i = 0; i < tabList.length; i++){
        tabList[i].querySelector('.btn').addEventListener('click', function(e){
            e.preventDefault();
            for(var j = 0; j < tabList.length; j++){
                // 나머지 버튼 클래스 제거
                tabList[j].classList.remove('is_on');

                // 나머지 컨텐츠 display:none 처리
                contents[j].style.display = 'none';
            }

            // 버튼 관련 이벤트
            this.parentNode.classList.add('is_on');

            // 버튼 클릭시 컨텐츠 전환
            activeCont = this.getAttribute('href');
            document.querySelector(activeCont).style.display = 'block';
        });
    }
</script>
</html>