
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--글꼴 Link-->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

  <!--CSS-->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/friendList.css">

  <!-- JavaScript -->
  <script src="/javascript/index.js"></script>
  <!-- 반응형 웹 -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Title-->
  <title> CAN </title>

</head>

<body>
  <!-- header -->
  <%- include('partials/header')%>

    <!-- Section -->
    <section id="section">
      <div id="layout">
        <div id="firstLayout">
          <div class="myPageList">
            <h2> 계정 정보 </h2>
            <hr>
            <ul>
              <li><a href="/auth/mypage"> 내 프로필 </a></li>
              <li><a href="#" id="openPopup"> 개인 정보 수정 </a></li>
              <li><a href="/auth/mypost"> 작성한 게시글 </a></li>
              <li><a href="/msg/message"> 쪽지함 </a></h3>
              </li>
              <li><a href="/myPage/newAlarm"> 알림 </a></h3>
              </li>
              <li><a href="/myPage/friendList"> 친구목록 </a></h3>
              </li>
            </ul>
          </div>

        </div>
        <div id="secondLayout">
          <div id="first">
            <h2> 친구 목록 </h2>
            <ul class="friend-list">
              <% if (friendList && friendList.length> 0) { %>
                <% for (let i=friendList.length - 1; i>= 0; i--) { %>
                  <% if (friendList[i].status==='accepted' ) { %>
                    <li class="friend-item">
                      <span class="user-info">
                        <img style="margin-right: 10px;" src="<%= friendList[i].mem_profile %>" width="30px"
                        alt="<%= friendList[i].mem_nickname %>'s Profile">
                        <span class="user-id">
                          <% if (friendList[i].user1_mem_code===login_code) { %>
                            <%= friendList[i].user2_mem_code %>
                            <% } else { %>
                              <%= friendList[i].user1_mem_code %>
                              <% } %>
                            </span>
                            <span class="user-nickname">
                              <%= friendList[i].mem_nickname %>
                            </span>  
                          </span>
                          <button class="delete-button"
                            data-user-id="<%= friendList[i].user1_mem_code === login_code ? friendList[i].user2_mem_code : friendList[i].user1_mem_code %>">친구
                            삭제</button>
                    </li>
                    <% } %>
                      <% } %>
                        <% } else { %>
                          <p class="no-friends-message">친구를 만들어보세요! ^^</p>
                          <% } %>
            </ul>

          </div>
        </div>
      </div>
    </section>

    <!-- footer -->
    <%- include('partials/footer')%>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
          const deleteButtons = document.querySelectorAll(".delete-button");
          
          deleteButtons.forEach((button) => {
            button.addEventListener("click", (event) => {
              const confirmDelete = confirm('친구를 삭제하시겠습니까?');
              const friend_code = event.target.getAttribute("data-user-id");
              if (confirmDelete) {
              fetch('/deleteFriend', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify({ friend_code: friend_code }),
              })
                .then(response => response.json())
                .then(data => {
                  console.log(data)
                  if (data) {
                    location.reload();
                  } else {
                    alert('친구 삭제 오류');
                  }
                })
                .catch(error => {
                  console.error('친구 삭제 오류:', error);
                });
              }
            });
          });
        });
    </script>
</body>
</html>