<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--글꼴 Link-->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
  <link href="https://db.onlinewebfonts.com/c/1db29588408eadbd4406aae9238555eb?family=Consolas" rel="stylesheet">

  <!--CSS-->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">

  <!-- JavaScript -->
  <script src="/javascript/index.js"></script>

  <!-- 반응형 웹 -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Title-->
  <title> CAN </title>

</head>

<body>
  <section>
    <!-- loading Page -->
    <div id="loading">
      <div id="loader">
        <h2> LOADING... </h2>
      </div>
    </div>

    <!-- main Page -->
    <div id="main-home">
      <div id="grid-01" class="item">
        <div id="main-home-logo">

          <h5> made by CAN</h5>

          <h1> Prison VReak </h1>
          <div id="play-content">
            <p> Prison VReak는 죄수와 해커가 협동하여 감옥에서 빠져나가는 게임입니다.</p>
            <p> 퍼즐을 풀고, 교도관들을 피해 감옥에서 빠져나가십시오. </p>
          </div>

          <div id="play-button">
            <button id="play-button-01" onclick="location.href='/loading'"> Game Play </button> <button id="play-button-02"> Guide </button>
          </div>

        </div>

      </div>

      <div id="grid-02" class="item">

        <div id="menu" class="item03">
          <ul>
            <li onclick="location.href='/'"><a>Game Info</a></li>
            <li onclick="location.href='/notice'"><a>Notice</a></li>
            <li onclick="location.href='/community'"><a>Community</a></li>
            <li onclick="location.href='/rank'"><a>Ranking</a></li>
            <li onclick="location.href='/auth/customer'"><a>Customer</a></li>
            <% if (is_logined) { %>
              <li onclick="location.href='/auth/logout'"><a>Log out</a></li>
              <% } else { %>
                <li onclick="location.href='/auth/login'"><a>Log in</a></li>
                <% } %>
          </ul>
        </div>
        <% if (is_logined) { %>
        <div id="profile-grid" class="item03">
          <div id="profile">
            <div class="info">
              <div id="info-01" class="item02">
                <h2> COLLABORATOR </h2>
                <br>
                  <p> <%= userProfile.mem_nickname %>님 환영합니다. </p>
                  <div>
                    <p> Code : <%= userProfile.mem_code %> </p>
                    <br>
                    <p> VR : <%= userProfile.vr_clear_time %> </p>
                    <p> WEB : <%= userProfile.web_clear_time %> </p>
                  </div>
              </div>
                <div id="info-02" class="item02">
                  <img id="item02-box" src="<%= userProfile.mem_profile %>" alt="프로필사진">
                </div>
            </div>
              <div>
                <div id="go-my-page">
                  <p><a href="/auth/mypage"> > My Page </a></p>
                </div>
              </div>
          </div>
      </div>
        <% } %>
    </div>
  </section>

  <script>
    // loading, main-home

    var delayInMilliseconds = 2000;

    setTimeout(function () {
      var loadingElement = document.getElementById("loading");
      var mainhomeElement = document.getElementById("main-home");

      // <div> 요소를 숨깁니다.
      loadingElement.style.display = "none";
      mainhomeElement.style.display = "grid";
    }, delayInMilliseconds);

    /*// cursor
    let cursor = document.querySelector('#cursor');
    let body = document.querySelector('body');
    document.onmousemove = function (e) {
      // move cursor
      cursor.style.top = e.pageY + 'px';
      cursor.style.left = e.pageX + 'px';

      // add elements to body
      let element = document.createElement('div');
      element.className = 'element';
      body.prepend(element);

      // move elements randomly across x and y axis
      element.style.left = cursor.getBoundingClientRect().x + 'px';
      element.style.top = cursor.getBoundingClientRect().y - 20 + 'px';

      setTimeout(function () {
        let text = document.querySelectorAll('.element')[0],
          directionX = Math.random(),
          directionY = Math.random()

        text.style.left = parseInt(text.style.left) - (directionX * (Math.random() * 250)) + 'px';
        text.style.top = parseInt(text.style.top) - (directionY * (Math.random() * 250)) + 'px';
        text.style.opacity = 0;
        text.style.transform = 'scale(0.25)';
        text.innerHTML = randomText();

        // remove element
        setTimeout(function () {
          element.remove()
        }, 500)

      }, 5)
    }

    // add random text on numbers
    function randomText() {
      var text = ("PRIZONVREAKCANprisonvreakcan").split("");
      letter = text[Math.floor(Math.random() * text.length)];
      return letter;
    }*/

    function lines() {
      let sizeW = Math.random() * 12;
      let duration = Math.random() * 3;
      let e = document.createElement('div');
      e.setAttribute('class', 'circle');
      document.body.appendChild(e);
      e.style.width = 2 + sizeW + 'px';
      e.style.left = Math.random() * + innerWidth + 'px';
      e.style.animationDuration = 2 + duration + 's';
      setTimeout(function () {
        document.body.removeChild(e)
      }, 5000);
    }
    setInterval(function () {
      lines();
    }, 500);

    let text = document.querySelectorAll('ul li a').forEach(text => {
			text.innerHTML = text.innerText.split('').map((letters,i) => `<span style="transition-delay:${i*40}ms;">${letters}</span>`).join('');
		});

		let cursor2 = document.querySelector('#cursor2');
		document.addEventListener('mousemove', (e) => {
			cursor2.style.top = e.pageY + 'px';
			cursor2.style.left = e.pageX + 'px';
		});


  </script>
</body>

</html>