<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--글꼴 Link-->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

  <!--CSS-->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/message.css">

  <!-- JavaScript -->
  <script src="/javascript/index.js"></script>
  <!-- 반응형 웹 -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Title-->
  <title> CAN </title>

</head>

<body>
  <!-- header -->
  <%- include('partials/header')%>

  <!-- Section -->
  <section id="section">
    <div id="layout">
      <div id="firstLayout">
        <div class="myPageList">
          <h2> 계정 정보 </h2>
          <hr>
          <ul>
            <li><a href="/auth/mypage"> 내 프로필 </a></li>
            <li><a href="#" id="openPopup"> 개인 정보 수정 </a></li>
            <li><a href="/auth/mypost"> 작성한 게시글 </a></li>
            <li><a href="/msg/message"> 쪽지함 </a></li>
            <li><a href="/myPage/newAlarm"> 알림 </a></li>
            <li><a href="/myPage/friendList"> 친구목록 </a></li>
          </ul>
          <hr>
          <h3> 쪽지 목록 </h3>
          <ul class="chatlist">
            <% for (const chatroom of chatroomList) { %>
              <li>
                <!-- 각 쪽지함 항목 -->
                <a href="#" class="open-popup" data-receiver-name="<%= chatroom.receiverName %>">
                  <img src="<%= chatroom.receiverProfile %>" width="50px" height="50px" alt="<%= chatroom.receiverName %>">
                  <span><%= chatroom.receiverName %></span>
                </a>
              </li>
            <% } %>
          </ul>
        </div>

      </div>
      <div id="secondLayout">
        <div id="first">
          <h2> 쪽지함 </h2>
          <iframe src="" frameborder="0" id="chatroom"></iframe>
        </div>
        <!--여기에서 이제 1대1 쪽지 보낼수있도록,,,,시발,,,할수있너?!-->

    </div>
    </div>
  </section>

  <!-- footer -->
  <%- include('partials/footer')%>

</body>
<script>
  const chatroom = document.getElementById("chatroom");
  // 팝업 열기 함수
  function openPopup(user2_id) {
    const url = `/msg/sendMessage/${user2_id}`;
    chatroom.src = url;
  }

  // 각 쪽지함 항목의 팝업 열기 버튼에 이벤트 리스너 추가
  document.querySelectorAll('.open-popup').forEach(function (link) {
    link.addEventListener('click', function (e) {
      e.preventDefault();
      const receiverName = link.getAttribute('data-receiver-name');
      openPopup(receiverName);
    });
  });
</script>
</html>