<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--글꼴 Link-->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

  <!--CSS-->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" media="(min-width: 900px)" type="text/css" href="/css/notice.css">
  <link rel="stylesheet" media="(max-width: 900px)" href="/css/notice_m.css" >

  <!-- JavaScript -->
  <script src="/javascript/index.js"></script>
  <script src="/javascript/notice.js"></script>
  
  <!-- 반응형 웹 -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- icon -->
    <script src="https://kit.fontawesome.com/3756c8d92c.js" crossorigin="anonymous"></script>

  <!--Title-->
  <title> CAN </title>

</head>

<body>

  <!-- header -->
  <%- include('partials/header')%>


    <!-- Section -->
    <section>
      <div class="notice-background">
        <div class="container-01">
          <!-- Section -->
          <div id="notice-logo" class="item">
            <img src="/img/logoInfo.png">

            <div id="search-div">
              <form class="search" action="/notice/search" method="get">
                <input type="text" name="keyword" class="search-input" placeholder="입력">
                <button class="search-btn" type="submit">검색</button>
              </form>
            </div>

          </div>

          <!-- Section -->
          <div id="grandopen-logo" class="item">
            <img src="/img/grandopenInfo.png">
          </div>

        </div>

        <!-- Section -->
        <div id="thirdSection">
          <div id="thirdSectionBox">
            <div class="content-div">
              <% if (search && search.length> 0) { %>
                <% for (let i=0; i < search.length; i++) { %>
                  <div class="grid-content">

                  <div class="grid-content-img-layout">
                    <img src="<%= search[i].post_image %>">
                  </div>

                  <div class="grid-container">
                    <div class="grid-content-num">
                      <%= search[i].post_num %>
                    </div>
                    <div class="grid-content-title">
                      <a href="/notice/show/<%= search[i].post_num %>">
                        <%= search[i].post_title %>
                      </a>
                    </div>
                    <div class="grid-content-date">
                      <%= search[i].formattedCreatedAt %>
                    </div>
                  </div>
                </div>


                  <% } %>
                    <% } else if (data && data.length> 0) { %>
                      <% for (let i=0; i < data.length; i++) { %>
                        <div class="grid-content">

                          <div class="grid-content-img-layout">
                            <img src="<%= data[i].post_image %>">
                          </div>

                          <div class="grid-container">
                            <div class="grid-content-num">
                              <%= data[i].post_num %>
                            </div>
                            <div class="grid-content-title">
                              <a href="/notice/show/<%= data[i].post_num %>">
                                <%= data[i].post_title %>
                              </a>
                            </div>
                            <div class="grid-content-date">
                              <%= data[i].formattedCreatedAt %>
                            </div>
                          </div>
                        </div>
                        <% } %>
                          <% } %>
            </div>
          </div>
        </div>

        <div class="pagination">
          <% if (prevPage !==null) { %>
            <a href="?page=<%= Math.max(1, prevPage) %><% if (keyword) { %>&keyword=<%= keyword %><% } %>">&laquo;
              이전</a>
            <% } else { %>
              <span class="disabled">&laquo; 이전</span>
              <% } %>

                <% for (let i=startPage; i <=endPage; i++) { %>
                  <% if (i===currentPage) { %>
                    <span class="active">
                      <%= i %>
                    </span>
                    <% } else { %>
                      <a href="?page=<%= i %><% if (keyword) { %>&keyword=<%= keyword %><% } %>">
                        <%= i %>
                      </a>
                      <% } %>
                        <% } %>

                          <% if (nextPage !==null) { %>
                            <a href="?page=<%= nextPage %><% if (keyword) { %>&keyword=<%= keyword %><% } %>">다음
                              &raquo;</a>
                            <% } else { %>
                              <a href="#" id="disabledNextPage">다음 &raquo;</a>
                              <script>
                                document.getElementById("disabledNextPage").addEventListener("click", function (event) {
                                  event.preventDefault();
                                  alert("더 이상 페이지가 없습니다.");
                                });
                              </script>
                              <% } %>
        </div>
      </div>


    </section>

    <!-- footer -->
    <%- include('partials/footer')%>
</body>

</html>