<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--글꼴 Link-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/info.css">

    <!-- JavaScript -->
    <script src="/javascript/index.js"></script>
    <!-- 반응형 웹 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Title-->
    <title> CAN </title>

</head>

<body>

    <!-- header -->
    <%- include('partials/header')%>


        <!-- Section -->
        <section id="section">
            <div id="first">

                <div class="container">
                    <!-- Section -->
                    <div id="firstSection" class="item">
                        <img src="/img/logoInfo.png">
                        <form action="/notice/search" method="get">
                            <input type="text" name="keyword" placeholder="검색">
                            <button type="submit">검색</button>
                        </form>
                    </div>

                    <!-- Section -->
                    <div id="secondSection" class="item">
                        <img src="/img/grandopenInfo.png">
                    </div>

                </div>

                <!-- Section -->
                <div id="thirdSection">
                    <div id="thirdSectionBox">
                        <div id="firstBoxSection">
                            <div id="firstBox" class="boxSection">
                                <div class="boxbox">
                                    <table id="firstBoxSection">
                                        <thead>
                                            <tr class="title">
                                                <th>사진</th>
                                                <th>번호</th>
                                                <th>제목</th>
                                                <th>날짜</th>
                                            </tr>
                                        </thead>
                                        <tbody class="content">
                                            <% if (search && search.length > 0) { %>
                                              <% for (let i = 0; i < search.length; i++) { %>
                                                <tr>
                                                  <td>
                                                    <div>사진</div>
                                                  </td>
                                                  <td>
                                                    <%= search[i].post_num %>
                                                  </td>
                                                  <td>
                                                    <a href="/notice/show/<%= search[i].post_num %>">
                                                      <%= search[i].post_title %>
                                                    </a>
                                                  </td>
                                                  <td>
                                                    <%= search[i].formattedCreatedAt %>
                                                  </td>
                                                </tr>
                                              <% } %>
                                            <% } else if (data && data.length > 0) { %>
                                              <% for (let i = 0; i < data.length; i++) { %>
                                                <tr>
                                                  <td>
                                                    <div>사진</div>
                                                  </td>
                                                  <td>
                                                    <%= data[i].post_num %>
                                                  </td>
                                                  <td>
                                                    <a href="/notice/show/<%= data[i].post_num %>">
                                                      <%= data[i].post_title %>
                                                    </a>
                                                  </td>
                                                  <td>
                                                    <%= data[i].formattedCreatedAt %>
                                                  </td>
                                                </tr>
                                              <% } %>
                                            <% } %>
                                          </tbody>


                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="secondBoxSection">
                            <div id="moreBox"> more </div>
                        </div>
                    </div>
                </div>

                <div id="pagination">
                    <a href="<%= search && search.length > 0 ? '/notice/search?page=1' : '/notice?page=1' %>"
                        class="<%= !currentPage ? 'active' : '' %>">
                        1
                    </a>
                    <% for (let page=2; page <=totalPages; page++) { %>
                        <a href="<%= search && search.length > 0 ? `/notice/search?page=${page}` : `/notice?page=${page}` %>"
                            class="<%= currentPage === page ? 'active' : '' %>">
                            <%= page %>
                        </a>
                        <% } %>
                </div>

        </section>

        <!-- footer -->
        <%- include('partials/footer')%>
</body>

</html>