<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--글꼴 Link-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">

    <link rel="stylesheet" media="(min-width: 900px)" type="text/css" href="/css/boardShow.css">
    <link rel="stylesheet" media="(max-width: 900px)" href="/css/boardShow_m.css">

    <!-- JavaScript -->
    <script src="javascript/index.js"></script>

    <!-- icon -->
    <script src="https://kit.fontawesome.com/3756c8d92c.js" crossorigin="anonymous"></script>

        <!-- 반응형 웹 -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Title-->
    <title> CAN </title>

</head>

<body>

<!-- header -->
<%- include('partials/header')%>
    <!-- Section -->
  <section id="section">
    <div id="layout">

      <div id="title">
        <h4><a href="/notice"> > 공지사항 </a></h4>
        <h1> <%= data.post_title %> </h1>
      </div>

      <div id="detail">
        <div>
          <div class="profile-info"
            style="display: flex; align-items: center; margin-bottom: 10px;">
                <p class="nickname" name="mem_nickname">
                  Admin
                </p>
          </div>
            <!-- 작성일, 조회수, 마지막 수정일시를 병렬로 표시 -->
            <div class="date-info">

                <p>작성일: <%= new Date(data.post_created_at).toISOString().slice(0, 10) %>
                </p>
                <p>조회수: <%= data.post_hit %>
                </p>
                <p>마지막 수정일시: <%= data.post_updated_at %>
                </p>
            </div>
        </div>
    </div>

      <hr>

      <div id="content">
        <p>
            <%= data.post_content %>
                <p>
                    <img src="<%= data.post_image %>">
                </p>
        </p>
      </div>   

      <div style="width: 900px;">
        <hr>
      </div>

        <div id="notice-comment">
          <br><br>
          <p>댓글을 작성할 수 없습니다.</p>
          <br><br>
        </div>   
  </section>
<!-- footer -->
<%- include('partials/footer')%>
</body>
</html>