<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

  <!--글꼴 Link-->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

  <!--CSS-->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/profile.css">


  <!-- JavaScript -->
  <script src="/javascript/index.js"></script>
  <!-- 반응형 웹 -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

  <!--Title-->
  <title> CAN </title>

</head>

<body>
  <!-- header -->
  <%- include('partials/header')%>

    <!-- Section -->
    <section id="section">
      <div id="layout">
        <div id="firstLayout">
          <div class="myPageList">
            <h2> 계정 정보 </h2>
            <hr>
            <ul>
              <li><a href="">
                  <%= userProfile.mem_nickname %>'s 프로필
                </a></li>
            </ul>
          </div>

        </div>
        <div id="secondLayout">

          <!-- 마이페이지 첫 번재 레이아웃 --><!--마이페이지 메인-->
          <div id="first">
            <h2>
              <%= userProfile.mem_nickname %> Profile
                <button id="openPopup" class="button btnFade btnBlack" type="submit"> 쪽지 </button>
            </h2>
            <% if (!isFriend) { %>
              <button id="friendButton" type="submit" onclick="checkLogin()">친구 신청</button>
              <% } else if (isFriend==='pending') { %>
                친구대기중!
                <% } %>

                  <div id="myProfile">
                    <div id="profileImg">
                      <img src="<%= userProfile.mem_profile %>" alt="프로필 이미지" width="200" height="200">
                    </div>

                    <div id="myProfileInfo">
                      <h3>
                        <%= userProfile.mem_nickname %>
                      </h3>
                      <div>
                        <p class="next"> # <%= userProfile.mem_code %>
                        </p>
                      </div>

                      <hr>

                      <div id="rank">
                        <h4> 최고기록 </h4>
                        <div id="rankPuzzle">
                          <% if(userProfile.vr_clear_time == null && userProfile.web_clear_time == null) { %>
                            <div> 클리어 기록이 없습니다 </div>
                          <% } else { %>
                            <% if(userProfile.vr_clear_time != null) { %>
                              <div> VR <%= userProfile.vr_clear_time %> </div>
                            <% } %>
                            <% if(userProfile.web_clear_time != null) { %>
                              <div> WEB <%= userProfile.web_clear_time %> </div>
                            <% } %>
                          <% } %>
                        </div>                      </div>

                    </div>
                  </div>
                  <textarea id="memIntro" name="memIntro" rows="3" placeholder="한 줄 소개"
                    readonly><%= userProfile.mem_intro%></textarea>
          </div>
          <!-- 마이페이지 두 번재 레이아웃 -->
          <div id="second">
            <h2> <%= userProfile.mem_nickname %> Post </h2>
            <hr>
            <div id="myPostList">
              <table>
                <thead>
                <tr class="title">
                  <th>번호</th>
                  <th>제목</th>
                  <th>글쓴이</th>
                  <th>날짜</th>
                  <th>조회수</th>
                </tr>
                </thead>
                <tbody class="content">
                <% for (let i=0; i < data.length; i++) { %>
                  <tr>
                    <td>
                      <%= data[i].post_num %>
                    </td>
                    <td>
			<a href="/community/show/<%= data[i].post_num %>">
                              <% let postTitle=data[i].post_title; if (postTitle.length> 20) {
                                postTitle = postTitle.substring(0, 20) + "...";
                                }
                                %>
                                <%= postTitle %>
                            </a>
                    </td>
                    <td>
                      <%= data[i].post_usernum %>
                    </td>
                    <td>
                      <%= data[i].formattedCreatedAt %>
                    </td>
                    <td>
                      <%= data[i].post_hit %>
                    </td>
                  </tr>
                <% } %>
                </tbody>
              </table>
            </div>
            <div class="pagination">
              <% if (prevPage !== null) { %>
                <a href="?page=<%= Math.max(1, prevPage) %><% if (keyword) { %>&keyword=<%= keyword %><% } %>">&laquo; 이전</a>
              <% } else { %>
                <span class="disabled">&laquo; 이전</span>
              <% } %>

              <% for (let i = startPage; i <= endPage; i++) { %>
                <% if (i === currentPage) { %>
                  <span class="active"><%= i %></span>
                <% } else { %>
                  <a href="?page=<%= i %><% if (keyword) { %>&keyword=<%= keyword %><% } %>"><%= i %></a>
                <% } %>
              <% } %>

              <% if (nextPage !== null) { %>
                <a href="?page=<%= nextPage %><% if (keyword) { %>&keyword=<%= keyword %><% } %>">다음 &raquo;</a>
              <% } else { %>
                <a href="#" id="disabledNextPage">다음 &raquo;</a>
                <script>
                  document.getElementById("disabledNextPage").addEventListener("click", function(event) {
                    event.preventDefault();
                    alert("더 이상 페이지가 없습니다.");
                  });
                </script>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- footer -->
    <%- include('partials/footer')%>
      <script>

        // 팝업 창을 열기 위한 함수
        function openPopup() {
          // 현재 호스트와 프로토콜을 가져와서 URL을 생성
          //const baseUrl = window.location.protocol + '//' + window.location.host;

          // 라우터 주소를 추가하여 완전한 URL을 생성
          //const routerUrl = baseUrl + '/auth/myProfileInfo';

          // window.open 메서드를 사용하여 팝업 창을 열음
          const user2_id = '<%= userProfile.mem_nickname %>'; // 상대방 ID
          window.open(`/msg/sendMessage/${user2_id}`, 'popup', 'width=720,height=800,top=300,left=600,resizable=no');
        }

        // 링크 클릭 시 팝업 창 열기 함수를 호출
        document.getElementById('openPopup').addEventListener('click', function (event) {
          event.preventDefault(); // 기본 동작(링크 이동)을 막습니다.
          openPopup(); // 팝업 열기 함수를 호출합니다.
        });

        function checkLogin() {
          const login_code = '<%= login_code %>';
          const friend_code = '<%= friend_code %>';
          if (login_code === '') {
            alert('로그인이 필요합니다. 로그인 후 다시 시도하세요.');
          } else {
            fetch('/sendFriendRequest',{
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({ login_code, friend_code }),

            })
              .then(response => response.json())
              .then(data => {
                if (data.success) {
                  alert('친구 신청이 완료되었습니다.');
                  window.location.reload();
                } else {
                  alert('친구 신청을 처리하는 중에 문제가 발생했습니다.');
                }
              });
          };
        };

      </script>
</body>

</html>