<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--글꼴 Link-->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

  <!--CSS-->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/rank.css">

  <!-- JavaScript -->
  <script src="/javascript/index.js"></script>
  <script src="/javascript/board.js"></script>
    <!-- 반응형 웹 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Title-->
    <title> CAN </title>

</head>

<body>

<!-- header -->
<%- include('partials/header')%>

  <!-- Section -->
  <section id="section">
    <img src="/img/rankLogo.png" style="width: 700px;">

    <div class="board-section">
    <div class="board" class="effect8">
      <table class="table-template">
        <thead>
          <tr>
            <th>순위</th>
            <th>죄수</th>
            <th>해커</th>
            <th>기록</th>
          </tr>
        </thead>

        <tbody class="content">
        <% for (let i=0; i < data.length; i++) { %>
          <tr>
            <td>
              <%= data[i].rank %>
            </td>
            <td style="justify-content: center;">
              <!-- <i class="fa-solid fa-user"></i> -->
              <div style="display: flex; align-items: center;">
                <% if(data[i].vr_profile == null) { %>
                  <img src="https://prisonvreak.s3.ap-northeast-2.amazonaws.com/profile/default-profile.jpg" alt="프로필 이미지">
                  <p style="margin-left: 10px; cursor: pointer;">
                    (알 수 없음)
                  </p>
                <% } else { %>
                <img src="<%= data[i].vr_profile %>" alt="프로필 이미지">
                <p style="margin-left: 10px; cursor: pointer;" onclick="showProfile('<%= data[i].vr_nickname %>')">
                  <%= data[i].vr_nickname %>
                </p>
                <div id="profileModal" class="modal">
                  <span class="close" onclick="closeModal()">&times;</span>
                </div>
                  <% } %>

              </div>
            </td>
            <td style="text-align: center; padding-left: 50px;">
              <!-- <i class="fa-solid fa-user"></i> -->
              <div style="display: flex; align-items: center;">
                <% if(data[i].web_profile == null) { %>
                  <img src="https://prisonvreak.s3.ap-northeast-2.amazonaws.com/profile/default-profile.jpg" alt="프로필 이미지">
                  <p style="margin-left: 10px; cursor: pointer;">
                    (알 수 없음)
                  </p>
                <% } else { %>
                <img src="<%= data[i].web_profile %>" alt="프로필 이미지">
                <p style=" margin-left: 10px; cursor: pointer;" onclick="showProfile('<%= data[i].web_nickname %>')">
                  <%= data[i].web_nickname %>
                </p>
                <div id="profileModal" class="modal">
                  <span class="close" onclick="closeModal()">&times;</span>
                </div>
                  <% } %>

              </div>
            </td>
            <td>
              ⏳ <%= data[i].formatted_game_clear_time %>
            </td>
          </tr>
        <% } %>
        </tbody>
      </table>
    </div>
    </div>

  </section>
  <!-- footer -->
  <%- include('partials/footer')%>


  <script>
    function showProfile(username) {
      // 모달 요소 가져오기
      const modal = document.getElementById('profileModal');

      // 모달 내용을 동적으로 로드
      fetch(`/auth/userProfile/${username}`) // 서버에서 userprofile.ejs를 렌더링하도록 요청
              .then((response) => response.text())
              .then((html) => {
                modal.innerHTML = html; // userprofile.ejs의 HTML을 모달 내용에 설정
              })
              .catch((error) => {
                console.error('Error fetching profile:', error);
              });

      // 모달 표시
      modal.style.display = 'block';
    }

    // 모달 닫기 함수
    function closeModal() {
      const modal = document.getElementById('profileModal');

      // 모달을 숨김 처리
      modal.style.display = 'none';
    }

    window.addEventListener('click', function (event) {
      const modal = document.getElementById('profileModal');
      if (event.target === modal) {
        closeModal();
      }
    });

  </script>


<script>
  function applyRowStyles(i) {
  const tableRows = document.querySelectorAll("table.table-template tbody tr");

  if (i < tableRows.length) {
    const ranks = [
      { color: "#dfb700", fontSize: "30px", emoji: "\u{1F947}" },
      { color: "#9a9a9a", fontSize: "26px", emoji: "\u{1F948}" },
      { color: "#cd7f32", fontSize: "22px", emoji: "\u{1F949}" }
    ];

    const row = tableRows[i];
    const tds = row.getElementsByTagName('td');
    
    if (i < ranks.length) {
      tds[3].style.color = ranks[i].color;
      tds[3].style.fontWeight = "900";
      tds[0].style.fontSize = ranks[i].fontSize;
      tds[0].textContent = ranks[i].emoji;
    }
  }
}

  const dataLength = <%= data.length %>;

  for (let i = 0; i < dataLength; i++) {
    applyRowStyles(i);
  }
</script>

</body>

</html>