<!-- userprofile.ejs -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--글꼴 Link-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/userProfile.css">

    <!-- JavaScript -->
    <script src="/javascript/index.js"></script>
    <script src="/javascript/board.js"></script>

    <!-- 반응형 웹 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- icon -->
    <script src="https://kit.fontawesome.com/3756c8d92c.js" crossorigin="anonymous"></script>

    <!--Title-->
    <title> CAN </title>
</head>

<body>


<div id="myProfile">
    <h1><%= userProfile.mem_nickname %>'s 프로필</h1> <!-- userProfile 객체에서 mem_nickname을 사용합니다 -->
    <br>
    <div id="profileImg">
        <img src="<%= userProfile.mem_profile %>" alt="프로필 이미지" width="200" height="200">
    </div>

    <div id="myProfileInfo">
        <h3> <%= userProfile.mem_nickname %> </h3> <!-- mem_nickname을 사용합니다 -->
        <div>
            <p class="next"> # <%= userProfile.mem_code %></p> <!-- mem_code를 사용합니다 -->
        </div>


        <div id="rank">
            <h4> 최고기록 </h4>
            <div id="rankPuzzle">
                <div> puzzle 000:000:000 </div>
                <div> total 000:000:000 </div>
            </div>
        </div>

    </div>
    <textarea id="memIntro" name="memIntro" rows="3"  placeholder="한 줄 소개" readonly><%= userProfile.mem_intro %></textarea>

    <div id="link">
        <!--<p onclick="showProfile('<%= userProfile.mem_nickname %>')">-->
            <a href="/auth/profile/<%= userProfile.mem_nickname %>">>>상세조회</a><!--</p>-->
    </div>
</div>
 <!-- mem_intro를 사용합니다 -->
<!--<script>
    function showProfile(username) {

        // 모달 내용을 동적으로 로드
        fetch(`/auth/profile/${username}`) // 서버에서 userprofile.ejs를 렌더링하도록 요청
            .then((response) => response.text())
            .then((html) => {
            })
            .catch((error) => {
                console.error('Error fetching profile:', error);
            });
    }
</script>-->
</body>

</html>