<!-- userprofile.ejs -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--글꼴 Link-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <!-- JavaScript -->
    <script src="/javascript/index.js"></script>
    <script src="/javascript/board.js"></script>

    <!-- 반응형 웹 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- icon -->
    <script src="https://kit.fontawesome.com/3756c8d92c.js" crossorigin="anonymous"></script>

    <!--Title-->
    <title> CAN </title>
</head>
<style>
    /* CSS 파일 내용 */

    body {
        font-family: 'Noto Sans KR', sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
    }

    h1 {
        margin-top: 20px;
        text-align: center;
        color: #333;
    }

    /* userprofile.ejs의 스타일 수정 */
    #myProfile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; /* 모달 내용을 세로로 배치 */
        margin: 20px auto;
        padding: 20px;
        max-width: 600px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center; /* 모달 내용 가운데 정렬 */
        position: relative; /* 모달 내용에 대한 상대 위치 설정 */
    }

    #profileImg img {
        border-radius: 50%;
    }

    #myProfileInfo {
        margin-top: 20px; /* 위에 여백 추가 */
    }

    #rank {
        margin-top: 20px;
    }

    #rank h4 {
        margin: 0 0 10px;
    }

    #rankPuzzle div {
        margin-bottom: 5px;
    }

    #memIntro {
        width: 50%;
        height: 100px;
        resize: none;
        margin: 20px auto; /* 가운데 정렬을 위해 수정 */
        padding: 10px;
        display: block; /* 가운데 정렬을 위해 수정 */
        text-align: center; /* 가운데 정렬을 위해 수정 */

        border-radius: 15px;
        border: 1px solid #161616;
    }
    /* 추가적인 스타일을 원하시면 여기에 추가하세요 */

</style>
<body>

<h1><%= userProfile.mem_nickname %>'s 프로필</h1> <!-- userProfile 객체에서 mem_nickname을 사용합니다 -->
<div id="myProfile">
    <div id="profileImg">
        <img src="<%= userProfile.mem_profile %>" alt="프로필 이미지" width="200" height="200">
    </div>

    <div id="myProfileInfo">
        <h3> <%= userProfile.mem_nickname %> </h3> <!-- mem_nickname을 사용합니다 -->
        <div>
            <p class="next"> ID <%= userProfile.mem_id %></p> <!-- mem_id를 사용합니다 -->
        </div>


        <div id="rank">
            <h4> 최고기록 </h4>
            <div id="rankPuzzle">
                <div> puzzle 000:000:000 </div>
                <div> total 000:000:000 </div>
            </div>
        </div>

    </div>
</div>
<textarea id="memIntro" name="memIntro" rows="3"  placeholder="한 줄 소개"><%= userProfile.mem_intro %></textarea> <!-- mem_intro를 사용합니다 -->

</body>

</html>
